engine/src/resources/Wordiada.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 (http://www.altova.com) by mazuki (darksiderg) -->
<!--W3C Schema generated by XMLSpy v2008 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="ST_GameType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Basic"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Type">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Computer"/>
				<xs:enumeration value="Human"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Structure">
		<xs:complexType>
			<xs:all>
				<xs:element ref="DictionaryFileName"/>
				<xs:element ref="Letters"/>
				<xs:element ref="BoardSize"/>
				<xs:element name="RetriesNumber" type="xs:byte"/>
				<xs:element name="CubeFacets">
					<xs:simpleType>
						<xs:restriction base="xs:byte">
							<xs:minInclusive value="6"/>
							<xs:maxInclusive value="12"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Sign">
		<xs:simpleType>
			<xs:list itemType="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Score" type="xs:byte"/>
	<xs:element name="Players">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Player" minOccurs="2" maxOccurs="6"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Player">
		<xs:complexType>
			<xs:all>
				<xs:element ref="Name"/>
				<xs:element ref="Type"/>
			</xs:all>
			<xs:attribute name="id" type="xs:short" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Name">
		<xs:simpleType>
			<xs:list itemType="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Letters">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Letter" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="target-deck-size" type="xs:short" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Letter">
		<xs:complexType>
			<xs:all>
				<xs:element ref="Sign"/>
				<xs:element ref="Score"/>
				<xs:element ref="Frequency"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="GameType">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="winner-according-to" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="WordCount"/>
								<xs:enumeration value="WordScore"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="gold-fish-mode" type="xs:boolean" use="optional"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="GameDescriptor">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="GameType"/>
				<xs:element ref="Structure"/>
				<xs:element ref="Players" minOccurs="0"/>
				<xs:element ref="DynamicPlayers" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Frequency" type="xs:double"/>
	<xs:element name="DynamicPlayers">
		<xs:complexType>
			<xs:attribute name="total-players" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:minInclusive value="2"/>
						<xs:maxInclusive value="6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="game-title" use="required">
				<xs:simpleType>
					<xs:list itemType="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="DictionaryFileName" type="xs:string"/>
	<xs:element name="BoardSize" type="xs:byte"/>
</xs:schema>
